.button {
  @include text(15px, 21px);
  font-weight: 600;
  color: $black;
  background-color: $accent;
  padding: 10px 25px;
  text-align: center;
  border-radius: 6px;
  border: none;
  transition: 0.3s;
  // width: 100%;

  &:hover,
  &:focus {
    opacity: 0.8;
    color: $white;
  }

  &:active {
    opacity: 0.5;
  }
}
