.form p {
  @include text(17px, 28px);
  font-weight: 600;
  color: $white;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 19px;

  @media (max-width: $width-tablet-max) {
    @include text(18px, 28px);
    color: $black;
    letter-spacing: -0.005em;
    margin-bottom: 30px;
  }

  @media (max-width: $width-mobile-max) {
    margin-bottom: 20px;
  }
}

.form__row {
  margin-bottom: 20px;
}

.form input {
  @include text(15px, 24px);
  font-weight: 400;
  color: $placeholder;
  border: 1px solid $border;
  padding: 11px 30px;
  border-radius: 4px;
  transform: 0.3s;
  width: 100%;
  height: 48px;
  transition: 0.3s;

  @media (max-width: $width-tablet-max) {
    padding: 11px 20px;
  }

  @media (max-width: $width-mobile-max) {
    padding: 11px 25px;
  }

  &:hover,
  &:focus {
    border: 1px solid $accent;
    box-shadow: inset 0 0 0 2px $accent;
    opacity: 0.9;

    &::placeholder {
      color: $accent;
    }
  }
}

.form input::placeholder {
  @include text(15px, 24px);
  font-weight: 400;
  color: $placeholder;
  background-color: inherit;
  opacity: 1;
  transition: 0.3s;
}

.form button {
  @include text(15px, 21px);
  font-weight: 600;
  color: $black;
  background-color: $accent;
  width: 100%;
  padding: 15px 25px;
  text-align: center;
  border-radius: 6px;
  border: none;
  transition: 0.3s;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
    color: $white;
  }

  &:active {
    opacity: 0.5;
  }
}
