.main-nav__list {
  @include no-list;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  transform: translate(-50%);
  left: 50%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 875px;

  @media (max-width: $width-tablet-max) {
    flex-direction: column;
    border-bottom: none;
    width: 100%;
    background-color: $white;
    padding: 100px 0;
  }
}

.main-nav li {
  @media (max-width: $width-tablet-max) {
    padding: 15px 35px 15px 16px;
    width: 100%;
    background-color: #f8f8f8;
    margin-bottom: 30px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 40%;
      right: 20px;
      background-image: url("../img/arrow.svg");
      width: 8px;
      height: 12px;
    }
  }
}

.main-nav li:not(:last-child) {
  @media (min-width: $width-desktop-min) {
    padding-right: 134px;
  }
}

.main-nav__item-link {
  @include text(16px, 32px);
  font-weight: 300;
  color: $white;
  text-decoration: none;
  transition: 0.3s;
  letter-spacing: -0.005em;
  opacity: 0.7;

  @media (max-width: $width-tablet-max) {
    @include text(20px, 28px);
    font-weight: 400;
    color: $text-menu;
    opacity: 1;
    background-color: $background-menu;
  }

  &:hover,
  &:focus {
    opacity: 1;
    color: $accent;
  }

  &:active {
    opacity: 0.5;
  }
}

// JS меню

.main-nav__toggle {
  display: none;

  @media (max-width: $width-tablet-max) {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: $accent;
    border: none;
    top: 0;
    right: 0;
    cursor: pointer;

    &::after {
      position: absolute;
      content: "";
      width: 30px;
      height: 30px;
      top: 10px;
      right: 10px;
      background-image: url("../img/menu-open.svg");
      background-repeat: no-repeat;
    }
  }

  @media (max-width: $width-mobile-max) {
    right: 0;
  }
}

.main-nav--closed .main-nav__list {
  @media (max-width: $width-tablet-max) {
    display: none;
  }
}

.main-nav--opened .main-nav__list {
  @media (max-width: $width-tablet-max) {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
  }
}

.main-nav--opened .main-nav__toggle {
  @media (max-width: $width-tablet-max) {
    background-color: $white;
    z-index: 1001;
    top: 8px;
    right: 0;
    display: block;
    width: 50px;
    height: 50px;
    padding: 20px 30px;

    &::after {
      position: absolute;
      content: "";
      width: 25px;
      height: 25px;
      top: 10px;
      right: 20px;
      background-image: url("../img/menu-close.svg");
      background-repeat: no-repeat;
    }
  }
}

.main-nav--nojs .main-nav__toggle {
  @media (max-width: $width-tablet-max) {
    display: none;
  }
}

.main-nav--nojs .main-nav__list {
  @media (max-width: $width-tablet-max) {
    position: relative;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
