// Шрифты
$font: "Open Sans", "Arial", sans-serif;

// Цвета
$black: #000000;
$white: #ffffff;
$background: #f6f7f9;
$accent: #0ad9c6;
$title: #1f1f1f;
$text-menu: #48494d;
$background-menu: #f6f6f6;
$placeholder: #1c1c1c;
$border: #c9ccd4;

// Размеры
$width-mobile-max: 767px;
$width-tablet: 768px;
$width-tablet-max: 1023px;
$width-desktop-min: 1024px;
$width-desktop: 1280px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
